{% extends 'base.html' %}

{% block content %}
  <section class="card">
    <h1>Cadastro</h1>
    <form method="post" action="{{ url_for('auth.cadastro') }}">
      <div>
        <label for="nome">Nome</label>
        <input id="nome" name="nome" type="text" placeholder="Seu nome" required>
      </div>
      <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="email" placeholder="seu@email.com" required>
      </div>
      <div>
        <label for="password">Senha</label>
        <input id="password" name="password" type="password" placeholder="********" required>
      </div>
      <button type="submit">Cadastrar</button>
    </form>
  </section>
{% endblock %}
